@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

section.calendar-section * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section.calendar-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: transparent;
    overflow: hidden;
}

section.calendar-section .box {
    position: relative;
    z-index: 1000;
}

section.calendar-section .container {
    position: relative;
    width: 400px;
    min-height: 400px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(25px);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

section.calendar-section .calendar {
    width: 100%;
    padding: 20px;
}

section.calendar-section .calendar h2.calendar-title {
    color: #fff;
    padding: 0 0 20px;
    text-align: center;
}

section.calendar-section .calendar table {
    width: 100%;
    margin-top: 40px;
    border-spacing: 5px;
    border-collapse: unset;
}

section.calendar-section .calendar table td {
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    border-bottom: none;
    font-weight: bold;
}

section.calendar-section .calendar table td:hover {
    background: #fff;
    color: #111 !important;
}

section.calendar-section .calendar table tr:nth-child(1) td {
    background: #fff;
    color: #111;
    border-radius: 5px;
    font-weight: 600;

}

section.calendar-section .dycalendar-prev-next-btn.prev-btn {

    background: #fff;
    color: #111;
    width: 44px;
    height: 38px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

section.calendar-section .dycalendar-prev-next-btn.next-btn {

    background: #fff;
    color: #111;
    width: 44px;
    height: 38px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

section.calendar-section .dycalendar-span-month-year {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
}

section.calendar-section h3,
section.calendar-section a {
    padding-top: 50px;
    color: rgb(16, 191, 235);
    text-align: center;
    text-emphasis: none;

}